<h1>Edit Artist Form</h1>
<%= form_for(@artist) do |f| %>
<%= label_tag(:name, "Artist Name:") %><br>
<%= f.text_field :name  %><br>
<%= label_tag(:bio, "Artist Bio:") %><br>
<%= f.text_area :bio %> <br>

<%= f.submit  %>
<% end %>