<h1>Create a Song</h1>

<%= form_for @song do |f| %>
    <p>Song Name: <%= f.text_field :name %></p>
    <p>Artist ID: <%= f.number_field :artist_id %></p>
    <p>Genre ID: <%= f.number_field :genre_id %></p>
    <%= f.submit "Create Song" %>
<% end %>